<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h1>GAUGES:</h1>
<table style="width:100%">
    <thead>
    <tr>
        <th scope="col">Metric name</th>
        <th scope="col">Value</th>
        <th scope="col">Hyperlinc</th>
    </tr>
    </thead>
    <tbody>
    {{range $index, $element := .MetricMapGauge}}
    <tr>
        <td>{{$index}}</td>
        <td>{{$element}}</td>
        <td><a href="http://localhost:8080/value/gauge/{{$index}}">http://localhost:8080/value/gauge/{{$index}}</a></td>
    </tr>
    {{end}}
    </tbody>
</table>

<h1>COUNTERS:</h1>
<table style="width:100%">
    <thead>
    <tr>
        <th scope="col">Metric name</th>
        <th scope="col">Value</th>
        <th scope="col">Hyperlinc</th>
    </tr>
    </thead>
    <tbody>
    {{range $index, $element := .MetricMapCounter}}
    <tr>
        <td>{{$index}}</td>
        <td>{{$element}}</td>
        <td><a href="http://localhost:8080/value/counter/{{$index}}">http://localhost:8080/value/counter/{{$index}}</a></td>
    </tr>
    {{end}}
    </tbody>
</table>



</body>
</html>